
<%- include('partials/header.ejs'); %>
  <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('/images/hero_1.jpg');">
    <div class="container">
      <div class="row mb-5" style="margin-top: 100px;">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3 text-white">Data Akun Baru</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-7 mb-5">

            <div class="p-5 bg-white">
              
              <h2 class="h4 text-black mb-5 text-center">Masukan Data Akun</h2> 

              <div class="row form-group justify-content-center">
                <div class="col-md-10 mb-3 mb-md-0">
                  <label class="text-black font-weight-light" for="sname">Nama Platform</label>
                  <input type="text" id="sname" class="form-control mb-3" style="border-radius: 10px;">
                  
                  <label class="text-black font-weight-light" for="username">Nama Pengguna</label>
                  <input type="text" id="username" class="form-control mb-3" style="border-radius: 10px;">
                 
                	<label class="text-black font-weight-light" for="password">Kata Sandi</label> 
                  <input type="password" id="password" class="form-control" style="border-radius: 10px;">    
                
                	<p id="notice" class="text-danger text-center font-weight-light mb-3 mt-3" style="font-size: 12px;"></p>
                  <button class="btn btn-primary mr-2 mb-2 mt-5 simpan" style="width: 100%;" data-toggle="modal" data-target="#modal-confirm">Simpan</button>
     
              </div>
            </div>
          </div>
        </div>
        
      <!-- Modal Confirm --> 
   	  <div class="modal fade" id="modal-confirm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true"> 
   	    <form action="/save" method="POST">
   	    <div class="modal-dialog modal-dialog-centered" role="document"> 
   	      <div class="modal-content"> 
   	        <div class="modal-header"> 
   	          <h5 class="modal-title text-dark" id="staticBackdropLabel">Periksa</h5> 
   	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
   	            <span aria-hidden="true">&times;</span> 
   	          </button> 
   	        </div> 
   	        <div class="modal-body text-dark">
   	        	<p class="mb-3 font-weight-light text-primary">Tolong diperiksa kembali Boss</p>
   	        	<input class="form-control mb-3 sname-confirm" style="border-radius: 10px;" name="sname">
   	        	<input class="form-control mb-3 username-confirm" style="border-radius: 10px;" name="username">
   	        	<input class="form-control mb-3 password-confirm" style="border-radius: 10px;" name="password">
   	        </div> 
   	        <div class="modal-footer"> 
   		        <button type="button" class="btn btn-secondary bg-white cancel text-dark" data-dismiss="modal">Batal</button>
   		        <button type="submit" class="btn btn-primary">Simpan</button> 
   		      </div> 
   	      </div> 
   	    </div>
   	    </form>
   	  </div>
        
      </div>
    </div>
    

  
<%- include('partials/footer.ejs'); %>