.modal-overlay{
	position: fixed;
	top: 0;
	bottom: -200px;
	width: 100%;
	background: black;
	z-index: 7000;
	opacity: .6;
	
}

.modal-container{
	position: fixed;
	z-index: 7001;
	width: 100%;
	top: 0;
	bottom: -100px;
	justify-content: center;
}

.hidden{
	display: none !important;
}

.btn-primary{
	background: #faa925 !important;
	border-color: #faa925 !important;
}

.text-primary{
	color: #faa925 !important;
}
